MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=raw-logs
AWS_REGION=us-east-1
SQS_QUEUE_NAME=s3-events
PARSEABLE_URL=http://host.docker.internal:8000
PARSEABLE_STREAM=s3_import
PARSEABLE_USER=admin
PARSEABLE_PASSWORD=admin
